/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q       &kp W       &kp F        &kp P          &kp G        &kp J        &kp L        &kp U        &kp Y       &kp SQT     &none
&none  &mt LGUI A  &mt LALT R  &mt LCTRL S  &mt LSHFT T    &kp D        &kp H        &mt RSHFT N  &mt RCTRL E  &mt RALT I  &mt RGUI O  &none
&none  &kp Z       &kp X       &kp C        &kp V          &kp B        &kp K        &kp M        &kp COMMA    &kp DOT     &kp FSLH    &none
                               &kp DEL      &kp BACKSPACE  &lt 4 TAB    &lt 2 ENTER  &lt 1 SPACE  &lt 3 ESC
            >;
        };

        NUM {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp LBKT       &kp N7        &kp N8        &kp N9        &kp RBKT     &trans  &trans  &trans  &trans  &trans  &none
&none  &kp SEMICOLON  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp EQUAL    &trans  &trans  &trans  &trans  &trans  &none
&none  &kp GRAVE      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp BSLH     &trans  &trans  &trans  &trans  &trans  &none
                                    &kp DOT       &kp N0        &kp MINUS    &trans  &trans  &trans
            >;
        };

        SYM {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp LBRC   &kp AMPS    &kp STAR     &kp LPAR   &kp RBRC     &trans  &trans  &trans  &trans  &trans  &none
&none  &kp COLON  &kp DOLLAR  &kp PERCENT  &kp CARET  &kp PLUS     &trans  &trans  &trans  &trans  &trans  &none
&none  &kp TILDE  &kp EXCL    &kp AT       &kp HASH   &kp PIPE     &trans  &trans  &trans  &trans  &trans  &none
                              &kp LPAR     &kp RPAR   &kp UNDER    &trans  &trans  &trans
            >;
        };

        FUN {
            bindings = <
&trans  &kp F12  &kp F7  &kp F8  &kp F9  &kp LS(LG(NUMBER_4))    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F11  &kp F4  &kp F5  &kp F6  &kp LG(LS(NUMBER_3))    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F10  &kp F1  &kp F2  &kp F3  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        NAV {
            bindings = <
&none  &trans    &trans    &trans     &trans     &trans    &kp LG(Z)  &kp LG(C)  &kp LG(X)      &kp LG(V)    &kp LG(LS(Z))  &none
&none  &kp LWIN  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &kp CAPS   &kp LEFT   &kp DOWN       &kp UP       &kp RIGHT      &none
&none  &trans    &trans    &trans     &trans     &trans    &trans     &kp HOME   &kp PAGE_DOWN  &kp PAGE_UP  &kp END        &none
                           &trans     &trans     &trans    &trans     &trans     &trans
            >;
        };
    };
};
